@import "../../scss/vars.scss";
@import "../../scss/breakpoints.scss";

.productInfo {
  position: relative;
}
.category {
  position: absolute;
  margin: 0;
  z-index: 1;
  text-transform: uppercase;
  writing-mode: vertical-rl;

  transform: rotate(180deg);
  font-weight: 500;
  font-size: 12px;
}
.productImage {
  width: 280px;
  height: 385px;
  margin-bottom: 30px;
  @media screen and (min-width: $desktop) {
    width: 320px;
    height: 440px;
  }
}
.btnWrapper {
  position: absolute;
  bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(130, 127, 127, 0.3);
  height: 50px;
  width: 100%;
  button {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    background-color: rgba(130, 127, 127, 0.4);
    cursor: pointer;
    &:hover,
    &:focus {
      box-shadow: 0px 6px 26px 0px rgba(0, 5, 97, 0.1);
      transform: scale(1.03);
    }
  }
  .active {
    background-color: $bordo;
  }
}

.sale {
  background-color: $bordo;
  color: white;
}
.new,
.sale {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
  width: 60px;
  height: 25px;
  margin: 0;
  padding: 5px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}
.new {
  background-color: white;
}

.colorList {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 15px;
}
.colorItem {
  appearance: none;
  border-radius: 0;
  width: 10px;
  height: 10px;
  margin-right: 16px;
  transition: 0.2s all linear;
  &:checked {
    border: 1px solid black;
    transform: scale(1.5);
  }
}
.name {
  width: 215px;
  height: 30px;
  margin: 0 auto 15px auto;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}
.btnLike {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 0;
  border: none;
  transition: 0.2s all linear;
  &:hover,
  &:focus {
    transform: scale(1.3);
  }
}

.like path {
  fill: $grey;
  stroke: $grey;
}
.likeActive path {
  fill: $bordo;
  stroke: $bordo;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: $bordo;
  font-weight: normal;
  font-size: 14px;

  span {
    margin-left: 14px;
    font-size: 12px;
    text-decoration-line: line-through;
    color: #565656;
  }
}
