@import "../../scss/breakpoints.scss";
@import "../../scss/vars";

.header {
  display: flex;
  box-shadow: 0px 6px 26px 0px rgba(0, 5, 97, 0.1);
  @media screen and (max-width: $mobile-max) {
    padding: 15px;
  }
  @media screen and (min-width: $tablet) {
    padding: 30px 40px;
  }
  @media screen and (min-width: $desktop) {
    padding-left: 98px;
    padding-right: 98px;
  }
  @media screen and (min-width: $desktop-plus-max) {
    padding-left: 138px;
    padding-right: 138px;
  }
}
.headerLink {
  display: flex;
  text-decoration: none;
  height: 20px;
  margin-right: 30px;
}

.cart {
  cursor: pointer;
}
.cartSum {
  width: 20px;
  height: 20px;
  font-size: 14px;
  border-radius: 50%;
  background-color: $bordo;
  color: white;
  text-align: center;
}

.logoLink {
  margin-right: 50px;
}
