@import "../../scss/vars.scss";
@import "../../scss/breakpoints.scss";
@keyframes showMenu {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-50%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}

.menu {
  position: absolute;
  top: 0px;
  left: 0px;
  align-items: stretch;
  transform: translateX(-100%);
}
.menuOpen {
  position: absolute;
  z-index: 100;
  transform: translateX(0);
  animation: showMenu 400ms linear;
  background-color: $crema;
  width: 360px;

  @media screen and (min-width: $tablet) {
    margin-left: 40px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 98px;
  }
  @media screen and (min-width: $desktop-plus-max) {
    margin-left: 135px;
  }
}
.link {
  display: block;
  text-align: left;
  margin: 10px 0 10px 0px;
  padding-left: 15px;
  text-decoration: none;
  color: $grey;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  &:focus,
  &:hover {
    color: black;
  }
}
.activeLink {
  color: black;
  font-size: 18px;
}
