$main-font: "Cera Pro", sans-serif;

$bordo: rgba(154, 0, 52, 1);
$crema: rgba(232, 216, 217, 1);
$pink: rgba(215, 150, 158, 1);
$light-grey: rgba(183, 183, 183, 1);
$grey: rgba(137, 137, 137, 1);
$text-dark: #292929;

$main-background: #e5e5e5;
